<div align="center">
  <div class="main">
    <div class="all">
      <div class="right" style="width:730px;">
        <div class="articles" style="width:708px;float:left;height:auto;overflow:hidden;margin:0px;padding:3px 10px 0px 10px;border-left:#E4E4E4 solid 1px;">
          <div class="node">
            <div class="name">Home » Category >> <%= @category.title %></div>
          </div>
          <div class="content" style="width:718px;float:left;margin:0px;height:auto;overflow:hidden;padding:0px;">
            <div class="guo_content">
				<% Product.where(:series_id => @category.series).each do |p| %>
				    <div class="guo_block" align="left">	
			        <table width="680" border="0" cellspacing="0" cellpadding="0">
		              <tbody>
			            <tr>
		          		  <td width="210">
						    <%= link_to image_tag(p.image.url, :class => 'guo_img'), product_path(p) %>
		          		  </td>
		          		  <td valign="top">
			        		<ul class="guo_blist">
		              		    <h3><%= p.title %></h3>
		              			<p><%= p.description %><p> 
					  			<h3><span><%= link_to 'MORE >>', product_path(p) %></span></h3>   																		
			        		</ul>
			      		  </td>
		       			</tr>
		     		  </tbody>
		    		</table>
		  		  </div>
				<%end %>
			</div>               
   		  </div>
  		</div>
  	  </div> 
  	<div class="left" align="left">
		<%= render '/shared/contact' %>
	</div>

  </div>
</div>
</div>