<div align="center">
  <div class="main">
  <div class="all">
 <div class="right">
      <div class="articles" style="font-weight:200;">
        <div class="node">
          <div class="name">Home » <%= @product.title %> </div>
      </div>
      <div class="content">
        <div class="title"><%= @product.title %><br><br></div>

        <div align="center">&nbsp;<br>
		  <%= image_tag @product.image.url %>
	   </div>
      <div class="anything">
		<!-- configuration -->
		<table width="95%" border='1' cellspacing="0", cellpadding="0">
		  <tbody>
			<% @product.configuration.attributes.each do |key, value| %>
			  <% unless value.blank? || ['id','product_id','created_at', 'updated_at'].include?(key) %>
		  	  <tr>
			    <td style="padding-left:5px"><b><%= key.gsub(/_/,' ').upcase %></b></td>
			    <td align="center"><%= value %></td>
			  <tr>
			  <% end %>
			<% end %>
		  </tbody>
		</table>
      </div>
      
      </div>
      </div>
       <div>&nbsp;</div>
  </div> 
<div class="left" align="left">
	<%= render '/shared/contact' %>
</div>

  </div>
</div>
</div>